<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
    </head>
    <body>
        <header>
            <nav>
              <ul class="navigation">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </header>
        {% block content %}
        {% endblock content %}
    </body>
</html>